In [2]:
import pandas as pd
import numpy as np

dataframe = (id_usuario, nikname, pais, cantidad_seguidores, cantidad_seguidos, cantidad_total_publicaciones)

Se quieren obtener los 1 usuarios influencer, para eso debe tener:

- tener una cantidad de seguidores mayor al 80% de la maxima total de seguidores en su pais (usuario argentino y el maximo de seguidores en argentina es 1000 entonces debera tener al menos 800 seguidores)

- El numero de usuarios que esa persona sigue no debe de superar el 15% de la cantidad de sus seguidores

- Criterio final sera a partir de la maxima cantidad de seguidores que tengan

In [3]:
data = [[1, 'camila', 'AR', 500, 120, 46],
        [2, 'lucia', 'AR', 2500, 100, 121],
        [3, 'franco', 'AR', 90300, 2400, 482],
        [4, 'luisarg', 'AR', 130, 97, 2],
        [5, 'carlos', 'UY', 14000, 12000, 590],
        [6, 'manuel', 'UY', 500, 320, 39],
        [7, 'lucio', 'AR', 2500, 500, 121]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['id_usuario', 'nickname', 'pais', 
                                   'cant_seguidores', 'cant_seguidos', 'cant_total_publicaciones'])

In [4]:
df.head()

,id_usuario,nickname,pais,cant_seguidores,cant_seguidos,cant_total_publicaciones
0,1,camila,AR,500,120,46
1,2,lucia,AR,2500,100,121
2,3,franco,AR,90300,2400,482
3,4,luisarg,AR,130,97,2
4,5,carlos,UY,14000,12000,590

In [7]:
# sumo la cantidad de seguidores de cada pais
pais_cant_seg = df.groupby('pais').agg({'cant_seguidores': sum}).reset_index()
pais_cant_seg.columns = ['pais', 'total_seguidores']
pais_cant_seg

  pais  total_seguidores
0   AR             95930
1   UY             14500

In [8]:
df = pd.merge(df,pais_cant_seg, on='pais')

In [19]:
# filtros para cantidad de seguidores y cantidad de seguidos
influencer = df.loc[ df['cant_seguidores'] > (df['total_seguidores']*0.8)]
influencer = influencer.loc[ df['cant_seguidores']*0.15 > df['cant_seguidos']]
influencer

,id_usuario,nickname,pais,cant_seguidores,cant_seguidos,cant_total_publicaciones,total_seguidores
2,3,franco,AR,90300,2400,482,95930